/*
 * 한글 폰트 설정
  font-family: "Noto Sans KR", sans-serif;
*/

/* Resets */
body, ul {
    margin: unset;
    padding: unset;
  }
  
  li {
    list-style-type: none;
  }
  
  img {
    /* img의 컨테이닝 블록 너비 기준으로, 해당 img가 커질수 있는 너비의 제약을 부여 */
    max-width: 100%;
    vertical-align: top;
  }
  
  h1, h2 {
    margin: unset;
    font-weight: unset;
    font-size: unset;
  }
  
  /* Layouts */
  .l_wrapper {
    max-width: 960px;
    width: auto;
    margin: 0 auto;
    padding: 0 30px;
  }
  
  .l_row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    margin: 0 -4px;
  }
  
  .l_row_wide        { row-gap: 30px; margin: 0 -15px; }
  .l_row_wide .l_col { padding: 0 15px; }
  
  .l_col {
    width: 33.333333%;
    padding: 0 4px;
    box-sizing: border-box;
    /* width: 33.333333%값에 좌우 padding값이 포함 되게끔 */
  }
  
  .l_col_12_12 { width: 100%; }
  .l_col_11_12 { width: 91.66666667%; }
  .l_col_10_12 { width: 83.33333333%; }
  .l_col_9_12  { width: 75%; }
  .l_col_8_12  { width: 66.66666667%; }
  .l_col_7_12  { width: 58.33333333%; }
  .l_col_6_12  { width: 50%; }
  .l_col_5_12  { width: 41.66666667%; }
  .l_col_4_12  { width: 33.33333333%; }
  .l_col_3_12  { width: 25%; }
  .l_col_2_12  { width: 16.66666667%; }
  .l_col_1_12  { width: 8.33333333%; }
  
  /* Variables */
  :root {
    --point-color: #f60;
  }
  
  /* Components */
  body {
    background-color: #D9D9D9;
  }
  
  .header {
    background-color: #F4F4F4;
  }
  
  .header-inside {
    display: flex;
    align-items: center;
    min-height: 160px;
  }
  
  .header-inside h1 {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    font-size: 24px;
    color: var(--point-color);
    font-weight: 600;
    padding: 20px 0;
  }
  
  .header-logo {
    width: 124px;
  }
  
  .contents {
    padding: 30px 0;
  }
  
  .card {
    box-shadow: inset 0 0 10px red;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .card.type_orange {
    --point-color: #f60;
  }
  .card.type_green {
    --point-color: green;
  }
  .card.type_blue {
    --point-color: dodgerblue;
  }
  
  .card-header {
    box-shadow: inset 0 0 10px blue;
  }
  
  .card-header h2 {
    background-color: black;
    width: fit-content;
    height: 48px;
    line-height: 48px;
    font-size: 24px;
    font-weight: 600;
    padding: 0 20px;
    border-top-right-radius: 12px;
    margin-top: -48px;
    position: relative;
  
    color: var(--point-color);
  }
  
  /* img의 컨테이닝 블록 너비 기준으로, 해당 img가 커질수 있는 너비의 제약을 부여 */
  .card-contents {
    box-shadow: inset 0 0 100px var(--point-color);
    flex-grow: 1;
  }
  
  .card-footer {
    box-shadow: inset 0 0 10px blue;
  }
  
  /* Tablets */
  @media ( max-width: 800px ) {
    .l_col_tablet_12_12 { width: 100%; }
    .l_col_tablet_11_12 { width: 91.66666667%; }
    .l_col_tablet_10_12 { width: 83.33333333%; }
    .l_col_tablet_9_12  { width: 75%; }
    .l_col_tablet_8_12  { width: 66.66666667%; }
    .l_col_tablet_7_12  { width: 58.33333333%; }
    .l_col_tablet_6_12  { width: 50%; }
    .l_col_tablet_5_12  { width: 41.66666667%; }
    .l_col_tablet_4_12  { width: 33.33333333%; }
    .l_col_tablet_3_12  { width: 25%; }
    .l_col_tablet_2_12  { width: 16.66666667%; }
    .l_col_tablet_1_12  { width: 8.33333333%; }
  }
  
  /* Mobile */
  @media ( max-width: 480px ) {
    .l_col_mobile_12_12 { width: 100%; }
    .l_col_mobile_11_12 { width: 91.66666667%; }
    .l_col_mobile_10_12 { width: 83.33333333%; }
    .l_col_mobile_9_12  { width: 75%; }
    .l_col_mobile_8_12  { width: 66.66666667%; }
    .l_col_mobile_7_12  { width: 58.33333333%; }
    .l_col_mobile_6_12  { width: 50%; }
    .l_col_mobile_5_12  { width: 41.66666667%; }
    .l_col_mobile_4_12  { width: 33.33333333%; }
    .l_col_mobile_3_12  { width: 25%; }
    .l_col_mobile_2_12  { width: 16.66666667%; }
    .l_col_mobile_1_12  { width: 8.33333333%; }
  }