/*reset css*/
body, div, ol, li, p {
    margin: unset;
    padding: unset;
}

/*이미지 배치시 아래 간격 없애줌*/
img {
    display: block;
}

li {
    list-style-type: none;
}

h1, h3 {
    margin: unset;
    font-weight: unset;
    font-size: unset;
}

:root {
    font-family: 'arial';
}

/*layout*/
.l_wrapper {
    width: auto;
    margin: 0 auto;
}


/*Component*/
/*body*/
body {
    background-image: url(header-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

/*margin-top 지정*/
.wood {
    margin-top: 100px;
}

/*header*/
.wood-header {
    margin: 0 auto;
    padding: 60px;
    max-width: 960px;
    min-height: 40vh;
    min-height: 439px;

    color: orange;
    border: 30px solid;

    background-image: url(container-bg.png);
    background-repeat: no-repeat;
    background-position: top 54px right 54px;
}

.wood-header h1 {
    color: orange;
    width: fit-content;
    font-size: 32px;
    letter-spacing: 0.19em;
}

.wood-header h1::after {
    content: '';
    border-radius: 12px;
    display: block;
    background-color: orange;
    height: 4px;
}

.wood-header p {
    color: orange;
    width: fit-content;
    line-height: 160%;
    margin-top: 26px;
    font-size: 16px;
} 

/*main*/
.wood-main {
    background-color: #ddd;
    min-height: 40vh;
    min-height: 344px;
    margin-top: -180px;
}

.wood-type-list {
    width: fit-content;
    min-height: 280px;
    margin: 0 auto;
    padding: 32px;
}

.wood-type-list li {
    float: left;
    margin-right: 30px;
}

.wood-type-list li:last-child {
    margin-right: 0;
}

.wood-type-list .lists {
    background-color: white;
    overflow: hidden;
    border-radius: 6px;
}

.lists-title {
    background-image: url(play.png);
    background-repeat: no-repeat;
    background-position: right;
    color: orange;
}

.lists-title p {
    font-weight: bold;
    line-height: 160%;
    padding: 10px;
}

.lists-title::before {
    content: '';
    display: block;
    background-color: orange;
    height: 4px;
}


/*footer*/
.wood-footer {
    background-color: white;
    min-height: 54px;
    text-align: center;
    border-top: 2px solid #aaa;
}

.wood-footer p {
    color: #aaa;
    font-size: 14px;
    font-weight: bold;
    line-height: 160%;
    letter-spacing: 0.29em;
    padding: 15px;
}