/* Reset */
body, div, ol{
  margin: unset;
  padding: unset;
}

li{
  list-style-type: none;
}
  
h1, p {
  font-size: unset;
  font-weight: unset;
  margin: unset;
}

img {
  vertical-align: top;
}

/* Layouts */
.l_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-shadow: inset 0 0 4px red;
}

/* Typography */
:root {
  font-family: arial;
}

/* Components */
body {
  color: #999;
  background-color: #111;
}

.header_inside {
  display: flex;
  height: 180px;
  align-items: center;
  margin-top: 0px;
}

.header_inside .logo {
  width: 200px;
}

.description::before {
  content: ' ';
  background-color: currentColor;
  display: inline-block;
  width: 64px;
  height: 1px;
  margin: 0 20px 0 30px; 
  /*margin 말고 gap 활용해서도 가능하다*/
} 

.description {
  display: flex;
  align-items: center;
}

.header_inside .anger {
  width: 140px;
  margin-left: auto;
  margin-top: auto;
}

.container {
  display: flex;
  box-shadow: inset 0 0 30px gold;
  min-height: 896px;
  flex-grow: 1;
  gap: 24px;
  background-color: black;
}

.container-main {
  box-shadow: inset 0 0 20px white;
  display: flex;
  gap: 24px;
  width: fit-content;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  box-shadow: inset 0 0 20px red;
  border-radius: 16px;
  overflow: hidden;
  width: 320px;
  height: 412px;
  background-color: #222;
}

.card img {
  width: 320px;
}

.card-discription {
  padding: 20px;
}
.card-discription h1 {
  color: #EBB3BB;
  font-weight: bold;
  margin-bottom: 12px;
}

.card-discription p {
  color: #999;
  font-size: 12px;
  line-height: 18px;
  min-height: 94px;

  margin-bottom: 30px;
}

.card-discription div {
  color: #ff0000;
  background-color: #111;
  border-radius: 10px;
  text-align: center;

  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2em;
  
  padding: 15px 0;
}

.container-sidebar {
  box-shadow: inset 0 0 20px dodgerblue;
  flex-basis: 168px;
  height: 283px;
  flex-shrink: 0;
}

.genre-title {
  display: flex;
  gap: 9px;
  padding: 10px;
}
.genre-title img{
  width: 16px;
  height: 16px;
}

.genre-title h1 {
  font-size: 16px;
}

.genre {
  background-color: #111;
  border-top: 1px solid#FA8073;
  border-bottom: 1px solid #FA8073;
}

.genre h1 {
  padding: 8px;
  font-size: 14px;
  color: #FA8073;
}

.genre li {
  border-bottom: 1px solid #333;
  margin-bottom: 12px;
  padding-bottom: 5px;
}

.genre li:last-child {
  border-bottom: none;
}

.genre ol {
  margin-top: 21px;
  margin-left: 19px;
  width: fit-content;
}
