/*
- 레이아웃 요소와 디자인 요소를 분리해서 작성한다.
- li에 통째로 margin top을 주게 되면 margin과 padding이 합쳐져 더 큰 간격이 된다.
이것을 해결하기 위해 li 요소 중 고치고 싶은 요소를 따로 선택해 스타일을 준다.
(가상 선택자 사용)
- currentColor를 사용하면 foregroundColor를 직접 가져올 수 있다.
*/


/*initial setting*/
body, h1, ul, li, div, article, section {
    margin: unset;
    padding: unset;
}

/*body background*/
body {
    background-color: #d9d9d9;
}

/*wrapper*/
.wrapper {
    margin: 30px auto;
    width: 448px;
    min-height: 494;
    background-color: #d9d9d9;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

/*title*/
.bucketlist-title {
    background-color: white;
    color: #ff007a;
    padding: 46px 0px;
}

.bucketlist-title h1 {
    padding-left: 39px;
    border-left: 10px solid #ff007a;
    font-weight: bold;
    font-size: 24px;
    font-family: arial;
}

/*list*/
.bucketlist-list {
    background-color: #eeee;
    padding: 15px 14px 15px 14px;
    margin-top: 5px;
}

.list {
    background-color: white;
    border-radius: 10px;
    border: 5px solid #d9d9d9;
    margin-bottom: 20px;
    padding: 10px;
    font-family: arial;
    color: #888888;
}

.bucketlist-list .list:nth-child(2) {
    border: 5px solid #759cff;
    background-image: url(check.png);
    background-position: right;
    background-repeat: no-repeat;
    color: #759cff;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}