/*reset css*/
body, p, ul {
    margin: unset;
    padding: unset;
}

li {
    list-style-type: none;
}
h1, h2 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

img {
    vertical-align: top;
}

:root {
    font-family: 'arial';
}

/*Layout*/
.l_wrapper {
    width: 960px;
    margin: 0 auto;
}

.l_row {
    font-size: 0;
    margin: 0 -15px;  /*양 옆으로 잡아당김*/
}

.l_col {
    display: inline-block;
    font-size: initial;
    width: 33.3%;
    padding: 0 15px;
    box-sizing: border-box;
}

/*Components*/
.header {
    background-image: url(header-bg.png);
    background-size: cover;
    padding-top: 100px;
    color: orange;
}

.container {
    border-style: solid;
    border-width: 30px 30px 0 30px;
    padding: 60px 60px 70px 60px;
    overflow: hidden;
}

.container-main {
    display: inline-block;
    width: 480px;
}

.container-main h1 {
    font-size: 32px;
    margin-bottom: 24px;
    letter-spacing: 0.2em;
    width: fit-content;
    letter-spacing: 0.2em;
}

.container-main p {
    line-height: 1.6;
}

.container-main h1::after {
    content: ' ';
    background-color: currentColor;
    display: block;
    border-radius: 4px;
    height: 4px;
}

.container-cover {
    vertical-align: top;
    margin-bottom: -120px;
}

.contents {
    background-color: #DDD;
    padding: 30px 0;
}

.card {
    color: orange;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
}

.card-cover {
    width: 100%;
}

.card-title {
    border-top: 4px solid;
    background-image: url(play.png);
    background-repeat: no-repeat;
    background-position: right center;
    line-height: 50px;
    padding: 0 10px;
    font-weight: bold;
}

.footer {
    text-align: center;
    padding: 14px 0;
    font-size: 14px;
    color: #aaa;
    letter-spacing: 0.2em;

    border-top: 2px solid;
    font-weight: 600;
}