/*Reset*/
body, ul, h1, p, span {
    margin: unset;
    padding: unset;
}

li {
    list-style-type: none;
}

h1, p, span {
    font-weight: unset;
    font-size: unset;
}

a {
    color: unset;
    text-decoration: unset;
}

img {
    vertical-align: top;
}

/* Typography */
:root {
    font-family: "Noto Sans KR", sans-serif;
    --chili: #ff4500;
    --burger: #17A651;
    --pizza: #0075FF;
}

/*Layout*/
.l_wrapper {
    max-width: 960px;
    margin: 0 auto;
}


/*Design*/
/*color settings*/
.chili {
    color: var(--chili);
}

.burger {
    color: var(--burger);
}
.pizza {
    color: var(--pizza);
}

/*body*/
body {
    background-color: #D9D9D9;
}

/*header*/
.header {
    background-color: white;
}

.header_inside {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.header h1 {
    color: var(--chili);
    font-weight: bold;
    font-size: 24px;
    flex-grow: 1;
}

.header img {
    width: 124px;
}

/*main*/
.contents {
    padding: 30px 0 0;
}

.container {
    width: 100%;
}

.l_row {
    display: flex;
    gap: 30px;
}

.l_col {
    width: calc( 100% / 3);
}

.card {
    max-width: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    margin: 0 auto;
    background-color: white;
    min-height: 430px;
}

.card-cover {
    position: relative;
}

.card-cover img {
    width: 100%;    
}

.card-cover h1 {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 0 12px 0 0;
}

.card-discription {
    padding: 20px;
    font-size: 14px;
    line-height: 1.4em;
    color: #666666;
}

.card-discription span {
    font-weight: bold;
}

.card-hashtag {
    padding: 26px 0 26px 18px;
    background-color: #f4f4f4;
}

.hashtag {
    color: white;
    height: 22px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    border-radius: 48px;
    padding: 2px 8px 4px 8px;
}

.hashtag span {
    opacity: 0.7;
}

.hashtag.chili {
    background-color: var(--chili);
}
.hashtag.burger {
    background-color: var(--burger);
}
.hashtag.pizza {
    background-color: var(--pizza);
}

/*footer*/
.footer {
    padding: 30px 0;
}

.footer_inside h1 {
    font-size: 12px;
    letter-spacing: 0.24em;
    color: #aaa;
}

@media ( max-width: 600px) {
    .header_inside {
        flex-direction: column-reverse;
    }

    .l_row {
        flex-wrap: wrap;
    }

    .l_col_mobile_12_12 {
        width: 100%;
    }

    .card {
        margin: 0 auto;
    }


    .footer_inside {
       text-align: center;
    }
}
