/*Reset*/
body, ul, h1, p, span {
    margin: unset;
    padding: unset;
}

li {
    list-style-type: none;
}

h1, p, span {
    font-weight: unset;
    font-size: unset;
}

a {
    color: unset;
    text-decoration: unset;
}

img {
    vertical-align: top;
}

/* Typography */
:root {
    font-family: "Noto Sans KR", sans-serif;
    --chili: #ff4500;
    --burger: #17A651;
    --pizza: #0075FF;
}

    
/*Layout*/
.l_wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.chili {
    color: var(--chili);
}

.burger {
    color: var(--burger);
}
.pizza {
    color: var(--pizza);
}
/*Design*/
/*body*/
body {
    background-color: #D9D9D9;
}

/*header*/
.header {
    background-color: white;
}

.header_inside {
    display: flex;
    height: 160px;
    align-items: center;
}

.header h1 {
    color: var(--chili);
    font-weight: bold;
    font-size: 24px;
    flex-grow: 1;
}

.header img {
    width: 124px;
}

/*main*/
.contents {
    padding: 30px 0;
}

.container {
    width: 100%;
}

.l_row {
    display: flex;
    gap: 30px;
}

.l_col {
    width: calc( 100% / 3);
}

.card {
    max-width: 300px;
    /* min-height: 434px; */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    margin: 0 auto;

}

.card-cover {
    position: relative;
}

.card-cover img {
    width: 100%;    
}

.card-cover h1 {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 0 12px 0 0;
}

.card-discription {
    /* min-height: 160px; */
    padding: 20px;
    font-size: 14px;
    line-height: 1.4em;
    background-color: white;
}

.card-discription span {
    font-weight: bold;
}

.card-discription p {
    color: #666666;
}

.card-hashtag {
    padding: 26px 0 26px 8px;
    background-color: #f4f4f4;
}

.hashtag {
    color: white;
    height: 22px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    border-radius: 48px;
    padding: 2px 8px 4px 8px;
}

.hashtag span {
    opacity: 0.7;
}

.hashtag.chili {
    background-color: var(--chili);
}
.hashtag.burger {
    background-color: var(--burger);
}
.hashtag.pizza {
    background-color: var(--pizza);
}

.footer {

}

.footer_inside h1 {
    font-size: 12px;
    letter-spacing: 0.24em;
    color: #aaa;
    line-height: 100px;
}


@media ( max-width: 600px) {
    .l_row {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }
    .l_col {
        width: 100%;
        /* padding: 0 30px; */
    }

    .card {
        margin: 0 auto;
    }

    .card-cover img {

    }

    .header_inside {
        flex-direction: column-reverse;
    }

    .footer_inside {
       text-align: center;
    }
}




/* .l_col_12_12 { width: 100%; }
.l_col_11_12 { width: 91.66666667%; }
.l_col_10_12 { width: 83.33333333%; }
.l_col_9_12  { width: 75%; }
.l_col_8_12  { width: 66.66666667%; }
.l_col_7_12  { width: 58.33333333%; }
.l_col_6_12  { width: 50%; }
.l_col_5_12  { width: 41.66666667%; }
.l_col_4_12  { width: 33.33333333%; }
.l_col_3_12  { width: 25%; }
.l_col_2_12  { width: 16.66666667%; }
.l_col_1_12  { width: 8.33333333%; } */

/* Tablets */
/* @media ( max-width: 960px ) {
    .l_col_tablet_12_12 { width: 100%; }
    .l_col_tablet_11_12 { width: 91.66666667%; }
    .l_col_tablet_10_12 { width: 83.33333333%; }
    .l_col_tablet_9_12  { width: 75%; }
    .l_col_tablet_8_12  { width: 66.66666667%; }
    .l_col_tablet_7_12  { width: 58.33333333%; }
    .l_col_tablet_6_12  { width: 50%; }
    .l_col_tablet_5_12  { width: 41.66666667%; }
    .l_col_tablet_4_12  { width: 33.33333333%; }
    .l_col_tablet_3_12  { width: 25%; }
    .l_col_tablet_2_12  { width: 16.66666667%; }
    .l_col_tablet_1_12  { width: 8.33333333%; }
} */
  
/* mobiles */
/* @media ( max-width: 600px ) {
    .l_col_mobile_12_12 { width: 100%; }
    .l_col_mobile_11_12 { width: 91.66666667%; }
    .l_col_mobile_10_12 { width: 83.33333333%; }
    .l_col_mobile_9_12  { width: 75%; }
    .l_col_mobile_8_12  { width: 66.66666667%; }
    .l_col_mobile_7_12  { width: 58.33333333%; }
    .l_col_mobile_6_12  { width: 50%; }
    .l_col_mobile_5_12  { width: 41.66666667%; }
    .l_col_mobile_4_12  { width: 33.33333333%; }
    .l_col_mobile_3_12  { width: 25%; }
    .l_col_mobile_2_12  { width: 16.66666667%; }
    .l_col_mobile_1_12  { width: 8.33333333%; }
} */