/*Reset*/
body, ul, h1 {
    margin: unset;
    padding: unset;
}

li {
    list-style-type: none;
}

h1, p, span {
    font-weight: unset;
    font-size: unset;
}

a {
    color: unset;
    text-decoration: unset;
}

img {
    vertical-align: top;
}

/* Typography */
:root {
    font-family: "Noto Sans KR", sans-serif;
}

    
/*Layout*/
.l_wrapper {
    box-shadow: inset 0 0 20px red;
    max-width: 960px;
    margin: 0 auto;
}

/*Design*/
/*body*/
body {
    background-color: #D9D9D9;
}

/*header*/
.header {
    box-shadow: inset 0 0 20px gold;
    background-color: white;
}

.header_inside {
    display: flex;
    height: 160px;
    align-items: center;
}

.header h1 {
    color: orangered;
    font-weight: bold;
    font-size: 24px;
    flex-grow: 1;
}

.header img {
    width: 124px;
}

/*main*/
.contents {
    padding: 30px 0;
    box-shadow: inset 0 0 20px dodgerblue;
}

.container {
    width: 960px;
}

.l_row {
    display: flex;
    box-shadow: inset 0 0 20px purple;
    gap: 30px;
}

.l_col {
    width: calc( 100% / 3);
    box-shadow: inset 0 0 20px pink;
}

.card {
    min-height: 434px;
}

.card-cover {
    min-height: 200px;
    background-image: url(pic01.png);
    background-size: cover;
}

.card-cover h1 {
    text-align: bottom;
}
/*main*/
/* .contents {
    padding: 30px 0;
}
.container {
    display: flex;
    padding: 30px 0;
    gap: 30px; 
}

.l_row {
    display: flex;
    gap: 30px;
}

.l_col {
    width: calc(100% / 3);
}

.card {
    box-shadow: inset 0 0 20px gold;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    min-height: 434px;

    flex-grow: 1;
    
}

.card-cover {
    background-image: url(pic01.png);
    min-height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

.card-cover h1 {
    color: orangered;
    position: absolute;
    top: 152px; 
        
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 0 12px 0 0;
}

.card-contents {
    padding: 20px;
}

.card-hashtag {
    display: flex;
    gap: 6px;
    background-color: #F4F4F4;
}

.card-hashtag .hashtag {
    background-color: orangered;
    color: white;
    height: 22px;
    line-height: 16px;
    font-size: 12px;
    border-radius: 48px;
    padding: 0 8px;
} */




/* Tablets */
@media ( max-width: 960px ) {
    .l_col_tablet_12_12 { width: 100%; }
    .l_col_tablet_11_12 { width: 91.66666667%; }
    .l_col_tablet_10_12 { width: 83.33333333%; }
    .l_col_tablet_9_12  { width: 75%; }
    .l_col_tablet_8_12  { width: 66.66666667%; }
    .l_col_tablet_7_12  { width: 58.33333333%; }
    .l_col_tablet_6_12  { width: 50%; }
    .l_col_tablet_5_12  { width: 41.66666667%; }
    .l_col_tablet_4_12  { width: 33.33333333%; }
    .l_col_tablet_3_12  { width: 25%; }
    .l_col_tablet_2_12  { width: 16.66666667%; }
    .l_col_tablet_1_12  { width: 8.33333333%; }
  }
  
  /* mobiles */
  @media ( max-width: 600px ) {
    .l_col_mobile_12_12 { width: 100%; }
    .l_col_mobile_11_12 { width: 91.66666667%; }
    .l_col_mobile_10_12 { width: 83.33333333%; }
    .l_col_mobile_9_12  { width: 75%; }
    .l_col_mobile_8_12  { width: 66.66666667%; }
    .l_col_mobile_7_12  { width: 58.33333333%; }
    .l_col_mobile_6_12  { width: 50%; }
    .l_col_mobile_5_12  { width: 41.66666667%; }
    .l_col_mobile_4_12  { width: 33.33333333%; }
    .l_col_mobile_3_12  { width: 25%; }
    .l_col_mobile_2_12  { width: 16.66666667%; }
    .l_col_mobile_1_12  { width: 8.33333333%; }
  }