/*initial settings*/
body, h1, p, ul {
    margin: unset;
    padding: unset;
}

img {
    vertical-align: top;
}


/*bg 지정*/
body {
    background-image: url(bg.png);
    background-position: center;
}


/*레이아웃 구성*/
/*가장 큰 wrapper*/
.wrapper {
    width: 960px;
    margin: 0 auto;
}

/*header (fruit list)*/
.header {
    margin: 20px 0;
}

/*main (흰 박스)*/
.contents {
    background-image: url(contents-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: white;

    min-height: 400px;
    
    border-radius: 50px;
    padding: 50px;
}

/*footer*/
.footer {
    text-align: right;
    color: grey;
    letter-spacing: 0.4em;

    margin-top: 20px;
}




/*header 구성*/
.header .icon {
    display: inline-block;

    width: 200px;
    height: 200px;
    margin-right: 20px;

    border-radius: 50%;

    text-align: center;
    text-decoration: none;

    background-color: black;

    line-height: 210px;

    letter-spacing: 0.4em;
}

/*list hover시 공통사항*/
.icon:hover {
    text-indent: -9999px;
}

/*list 및 hover*/
.icon:nth-child(1) {
    background-color: transparent;
    background-image: url(logo.png);
    text-indent: -999px;
}

.icon:nth-child(2) {
    color: yellow;   
}

.icon:nth-child(2):hover {
    background-image: url(lemon.png);
}

.icon:nth-child(3) {
    color: orange;
}

.icon:nth-child(3):hover {
    background-image: url(orange.png);
}

.icon:nth-child(4) {
    color: orangered;
}

.icon:nth-child(4):hover {
    background-image: url(jamong.png);
}


/*main 영역*/
.contents h1 {
    color: orangered;
}

.contents p strong {
    color: white;
    background-color: orangered;
    padding: 3px 7px;
    border-radius: 10px;
}

.contents p {
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.8;
}

.contents p a {
    color: green;
}

.contents p a:hover {
    color: green;
    text-decoration: underline;
}
