body {
  margin: unset;
}

/*중앙 정렬을 담당함*/
.l_wrapper {
  margin: 0 auto;
  max-width: 1080px;
  box-shadow: inset 0 0 20px blue;
}

/* 시각적으로 보여지는 공통 분모 -> 템플릿 구성 */
.section {
  padding: 92px 0 100px;
}

.section.theme_purple {
  background-color: #6230A2;
  color: #C89DFF;
}

.section.theme_white {
  background-color: #FFF5ED;
  color: #F98173;
}

.section-header {
  box-shadow: inset 0 0 20px purple;
  margin-bottom: 100px;
}

.section-contents {
  box-shadow: inset 0 0 20px purple;
}