/*Reset css*/
body {
    margin: unset;
}

h1 {
    font-size: unset;
    font-weight: unset;
    margin: unset;
}

strong {
    font-weight: unset;
}

p {
    margin: unset;
}

img {
    vertical-align: top;
    max-width: 100%; /* 이미지가 컨테이닝 블록 사이즈 보다 커지는 것을 방지한다. */
}

/*CSS variables*/
:root {
    --color-white: #fff;
    --color-gray-50: #999;
    --color-gray-80: #222;
    --color-gray-90: rgb( var(--color-gray-90-rgb) / 1);
    --color-gray-90-rgb: 17 17 17;
    --color-black: #000;

    --color-red: #FF2E00;

    /*Font*/
    --font-en: 'arial';
    --font-ko: 'arial';
    
}

/*Typography*/
:root {
    font-family: var(--font-en);
    word-break: keep-all;
    /* 한글의 어절이 유지되게 함 */
    overflow-wrap: break-word;
    /* 한글의 어절이 콘테이너 너비를 넘어갈 때 적절히 넘겨줌*/
}

/*Components*/
body {
    background-color: var(--color-gray-80, #ddd);
    /*--color-gray-80이 안된다면 대안으로 #ddd를 불러오는 것*/
}

.wrapper {
    width: auto;
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 30px;
}

.article {
    background-color: var(--color-gray-90);
    color: var(--color-gray-50);

    position: relative;
    z-index: 0; 
    /* article-cover의 z-index:-1을 적용하기 위해 0을 지정, 하지만 z-index의 기준점이 되려면
    position: static은 안 되기 때문에 position:relative를 부여함*/
}

.article-cover {
    aspect-ratio: 16 / 9; 
    /* 
    min-height가 내부 콘텐츠 높이만큼 강제 (auto가 그렇게 계산 됨)
    auto가 아닌 값으로 지정하여 내부 콘텐츠 높이와 관계 없이 aspect-ratio가 유지되게 함 
        min-height: 0;
    */
    
    overflow: hidden;
    /*
    min-height를 컨트롤하는 것 말고, overflow를 이용함으로서도 자식요소가 부모 요소의
    높이에 영향을 끼치는 것을 막을 수 있다. */

    margin-bottom: -6%; 
    /* margin-bottom을 컨테이닝 블록 너비 기준으로 설정하여 안정성을 높임 */
    position: relative;
    /* article-cover::after요소의 컨테이닝 블록이 될 수 있게 position:static이 아닌 값으로 설정 */

    z-index: -1;
    /* article-cover를 좀 더 빨리 끝나게 만들어, 뒤따라오는 article-main이 cover를 덮을 수 있도록*/
}

.article-cover-src {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.article-cover::after {
    content: " ";
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-image: linear-gradient( to bottom, rgb( var(--color-gray-90-rgb) / 0 ) 0%, rgb( var(--color-gray-90-rgb) / 1 ) 100% );

} 

.article-main {
    padding: 0 100px 60px 60px;
    box-shadow: inset 0 0 20px blue;
    display: flex;

    column-gap: 100px;
    row-gap: 100px;

    flex-wrap: wrap;
}

/*가변*/
.article-contents {
    box-shadow: inset 0 0 20px gold;
    flex-grow: 1;  /* 초기값 0 */

    
    flex-basis: 300px;
    /* flex-basis: 0; =>  내부 텍스트 너비 버림, grow로만 너비 책정 가능하게 함 
    초기값 auto -> 내부 콘텐츠 너비 만큼
    flex-basis: 300px 해당 값 기준으로 flex-wrap이 동작되게 함 */

    min-width: 0;
    /* min-width: auto -> 0; 내부 콘텐츠 너비에 해당 요소 (부모)의 너비가 결정되지 않게 0으로 재설정 */
}

.article-title {
    color: var(--color-white);
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 26px;
}

.article-title-badge {
    background-color: var(--color-red);
    border-radius: 8px;
    display: block;
    width: fit-content;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding: 0px 12px;
    letter-spacing: 0.18em;
}

.article-description p {
    line-height: 1.6;
    margin-bottom: 1.6em;
}

.article-description p:last-child {
    margin-bottom: 0;
}

/*고정*/
.article-sidebar {
    box-shadow: inset 0 0 20px red;
    width: 240px;
    /* 
    flex-basis: auto; min-width: auto; 를 auto값을 width값과 동기화
    width값이 flex-shrink:1 에 의해 조절될 때 같이 조절됨
    */
}

.ratings {
    background-image: url(star.png);
    background-size: 240px 96px;
    width: 240px;
    height: 48px;
    overflow: hidden;
}

.ratings::before {
    content: " ";
    display: block;
    width: 0%;
    height: 48px;
    background-image: url(star.png);
    background-size: 240px 96px;
    background-position: left bottom;
}

.ratings.score_1::before { width: 20%; }
.ratings.score_2::before { width: 40%; }
.ratings.score_3::before { width: 60%; }
.ratings.score_4::before { width: 80%; }
.ratings.score_5::before { width: 100%; }