body {
    background-image: url('bg3.png');
}

div {
    background-color: white;
    width: fit-content;
    margin: 100px auto 0px;
    text-align: center;
    border-radius: 30px 30px 0px 0px;
    border-bottom: 30px solid brown;
}

h1 {
    color: brown;
    width: fit-content;
    margin: 0px auto;
    border-bottom: 10px solid brown;
}

img {
    padding: 40px 50px 10px 50px;
}

p {
    width: fit-content;
    margin: 30px auto;
    padding: 40px 30px;
    background-color:#EEEEEE;
    color: gray;
    font-size: 15px;
    font-weight: bold;
}
